#main_phylosophy{
	height: 75%;
  	width:80%;
  	margin-top: 0%;
  	margin-left: 10%;
  	background: url(../images/phylosophy-1.png) no-repeat center top;
  	background-size: 90% 100% ;
  	border: 1px solid rgba(1, 1, 255, 0);
}

#phylosophy_area{
	height: 50%;
	width: 31%;
	margin-top: 7%;
	margin-left: 35%;
	/*border: 3px solid black;*/
	overflow-y: scroll;
	padding-right: 5px;
	float: left;

}

#contact-info-area{
	float: left;
	height: 100%;
	width: 13%;
	margin-left: 19%;
  margin-top: -1%;
}

#contact-info-area-div{
	width: 100%;
	height: 7%;
	/*margin-left: 5%;*/
	/*margin-top: 30%;*/
	background: url(../images/dialog.png) no-repeat center center;
	background-size: 100% 100%;
	text-align: center;
}

#contact-info-area-div p {
	padding-top: 5%;
	font-size: 11px;
}

#main_blog{
	height: 75%;
  	width:80%;
  	margin-top: 0%;
  	margin-left: 10%;
  	background: url(../images/blog-1.png) no-repeat center top;
  	background-size: 90% 100% ;
  	border: 1px solid rgba(1, 1, 255, 0);
}

#blog_area{
	height: 50%;
	width: 31%;
	margin-top: 7%;
	margin-left: 35%;
	/*border: 3px solid black;*/
	overflow-y: scroll;
	padding-right: 5px;
	float: left;
}

#main_contact{
	height: 75%;
  	width:80%;
  	margin-top: 0%;
  	margin-left: 10%;
  	background: url(../images/contact.png) no-repeat center top;
  	background-size: 90% 100% ;
  	border: 1px solid rgba(1, 1, 255, 0);
}

#main_comingsoon{
	height: 75%;
  	width:80%;
  	margin-top: 0%;
  	margin-left: 10%;
  	background: url(../images/comming.png) no-repeat center top;
  	background-size: 90% 100% ;
  	border: 1px solid rgba(1, 1, 255, 0);

}

#comingsoon_area{
	height: 50%;
	width: 33%;
	margin-top: 5%;
	margin-left: 34%;
	/*border: 3px solid black;*/
	/*overflow-y: scroll;*/
	padding-right: 5px;
    float: left;

}


#kapelo{
	color:#26B8DB;
	text-decoration: underline;
	cursor:pointer;
}

#kapelo:hover, #ergalio:hover, .blog_title:hover{
	font-size: 150%;
}

#ergalio{
	color:#26B8DB;
	text-decoration: underline;
	cursor:pointer;
}

.blog_title{
	color:#26B8DB;
	text-decoration: underline;
}

.blog_img {
	width:40%;
	height: auto;
	margin-left: 25%;
}



/* The Modal (background) */
.my-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.my-modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    background-color: white;
    border-radius: 24px;
    padding : 30px 30px 30px 30px; 
    border: 8px solid #26B8DB;
}
/*.my-modal-content p, .my-modal-content li{ 
	color :#26B8DB;
}*/

/* Caption of Modal Image */
#modal-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: white;
    padding: 10px 0;
    height: 150px;
}

/* Caption of Modal Image */
#modal-caption-2 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.my-modal-content, #modal-caption, #modal-caption-2 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.modal-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}


.modal-close:hover,
.modal-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .my-modal-content {
        width: 100%;
    }
}
